@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

@layer components {
  .button-primary {
    @apply text-gold rounded-md border-gold border py-3 px-5 hover:bg-gold hover:text-white transition transform duration-200 ease-linear;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-amber-600 via-amber-200 to-amber-400;
  }
  .newsTicker {
    position: absolute;
    bottom: 2rem;
    left: 0;
    transform: translateX(100%);
    animation: mover 45s linear infinite;
  }
  @keyframes mover {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .card div:nth-child(3) {
    @apply bg-gold;
  }
}
